<section>
  <img src="/thibaud_picture.png" width="230" height="230" />
  <div class="welcome-text">
    <h2>Bienvenue, dans notre Blog d'informatique !</h2>
    <p>
      Découvrez nos différents articles concernant le Développement
      informatique. Vous trouverez des exemples et des tutoriels.
    </p>
  </div>

  <style>
    h2 {
      color: var(--primary);
    }
    section {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: var(--tertiary);
      padding: 2rem 0;
    }
    img {
      background-color: var(--primary);
      border-radius: 50%;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    }
    p {
      white-space: pre-line;
      font-size: 1.2rem;
    }
    .welcome-text {
      margin: 1.5rem;
      width: auto;
    }
  </style>
</section>
