---
import { getLastPosts } from "../services/posts";
import PostCard from "./PostCard.astro";

const posts = await Astro.glob("../pages/posts/*.{md,mdx}");
const lastPosts = getLastPosts(posts);
---

<section class="last-posts">
  <h2>Les derniers articles</h2>
  <div class="post-list">
    {lastPosts.map((post) => <PostCard {...post} />)}
  </div>
</section>

<style>
  .last-posts {
    margin: 1rem 0;
    padding: 0 1rem;
  }

  .post-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  @media only screen and (max-width: 600px) {
    .post-list {
      justify-content: center;
    }
  }
</style>
